{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "SQLServer": "localhost",
    "SQLDatabase": "AzFuncBoilerplate",
    "SQLUsername": "",
    "SQLPassword": "",
    "MockDbResponse": "yes"
  }
}
