{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "SQLConnectionString": "Server=localhost;Database=AzFuncBoilerplate;Trusted_Connection=yes;",
    "MockDbResponse": "yes"
  }
}
